@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */


:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

label {
    display: none;
}

.container {
    max-width: 31.25rem;
    margin: 0 auto;
}

.header {
    padding: 1.7rem 0;
}

.mobile-logo {
    width: 8.5rem;
    padding-left: 2rem;
}

.desktop-logo {
    display: none;
}

.mobile-hero {
    width: 100%;
}

.desktop-hero {
    display: none;
}

.promo {
    text-align: center;
}

.promo h1 {
    max-width: 10ch;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.7rem;
    letter-spacing: 0.55rem;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 1.2rem;
}

.accent, p {
    color: var(--desaturated-red);
}

.accent {
    font-weight: 300;
}

.promo p {
    font-size: 0.9rem;
    width: 85%;
    margin: auto;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.email-container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 3rem;
}

.email {
    font-family: inherit;
    background: none;
    padding: 1.15em 1.7em;
    width: 100%;
    border: 0.063rem solid var(--desaturated-red);
    border-radius: 2rem; 
}

.email::placeholder {
    color: var(--desaturated-red);
    font-size: 0.8rem;
}

.email:focus {
    outline: none;
}

.email-error {
    border: 0.063rem solid var(--soft-red);
}

.email-error-message, .error-icon {
    display: none;
}

.email-error-message {
    color: var(--soft-red);
    padding-top: 0.3rem;
    display: none;
}

.error-icon {
    position: absolute;
    right: 4.063rem;
    top: 0.625rem;
}

.show-error {
    display: block
}

.btn {
    position: absolute;
    right: 0;
    padding: 0.92em 1.66em;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 8px 15px 0px rgba(206, 151, 151, 0.5);
    transition: opacity 0.2s, box-shadow 0.2s;
}

.btn img {
    width: 90%;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    box-shadow: 0px 8px 15px 2px rgba(206, 151, 151, 0.8);
    background: hsl(0, 80%, 86%);
}

.attribution {
    font-size: 0.75rem; 
    text-align: center; 
}

.attribution a { 
    color: var(--soft-red);
}

@media (min-width: 1200px) {
    .container {
        display: flex;
        max-width: 100%;
        flex-direction: row-reverse;
        height: 100vh;
    }

    .header, .mobile-hero {
        display: none;
    }

    .desktop-hero, .desktop-logo {
        display: block;
    }

    .promo {
        padding: 4rem 10rem;
        text-align: left;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-position: center;
        background-size: cover;;
    }

    .promo h1, .promo p, .email-container {
        margin: 0;
    }

    .promo h1 {
        font-size: 4rem;
        letter-spacing: 1rem;
        padding-top: 8rem;
    }
    
    .promo p {
        font-size: 1rem;
        padding-bottom: 2.5rem;
    }

    .btn {
        padding: 0.92em 2.5em;
    }

    .email::placeholder {
        font-size: 0.9rem;
    }

    .email-error-message {
        font-size: 0.9rem;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
    }

    .error-icon {
        right: 5.625rem;
    }
}

@media (min-width: 1450px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 90rem;
        max-height: 50rem;
    }
}
